%html
  %head
    %link{:href => "http://twitter.github.com/bootstrap/assets/css/bootstrap.css", :rel => "stylesheet"}/
    / Optional: Include the jQuery library
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    / Optional: Incorporate the Bootstrap Javascript plugins
    %script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap.js"}
  %body
    %h1{:align => "center"} Hangman
    .container
      .row
        .span4
          Click one letter
          %br/
          %br/
          / row class="span8"
          .nav-nav.tabs
            %ul.breadcrumb
              - i=0
              - for i in "a".."z"
                %li
                  = link_to i, { :controller => 'hangman' , :action => 'process_letter' ,:id => i } ,:remote => "true"
                %span.divider           - #@abc=session[:user_string]
            %br/
            #abc
              = @abc
        %br/
        %br/
        .span4
          #image
            = image_tag '0.png'
      %br/
      #startgame
        = @start
